.component-video {
  display: block;
  position: relative;

  video, img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}
